@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model IEnumerable<RecipeBox.Models.Recipe>
<hr />
<h3>Recipes for @User.Identity.Name</h3>
<hr />
@if (Model.Any())
{
  @foreach(Recipe recipe in Model)
  {
    <h3>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId })</h3>
  }
}
else
{
  <h3>No Recipes have been added yet!</h3>
} 
<br>
<form action="/Recipes/Create" method="get">
  <input type="submit" value="Add new Recipe" class="btn">
  </form>
@* <p>@Html.ActionLink("Add new Recipe", "Create")</p> *@