@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model IEnumerable<RecipeBox.Models.Recipe>

<h2>Recipes for @User.Identity.Name</h2>

@if (Model.Any())
{
  <ul>
    @foreach(Recipe recipe in Model)
    {
        <p>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId })</p>
    }
  </ul>
}
else
{
  <h3>No Recipes have been added yet!</h3>
} 
<br>
<p>@Html.ActionLink("Add new Recipe", "Create")</p>