<img src='~/img/Logo.png' alt="Recipe Box Logo" margin="0 auto" height="auto" width="40%" style="border: 5px double green">
  <br>
  <br>
  <div id="navBar">
  <form action="/search" method="get">
  <br>
  <p>Search Recipe By Tag </p>
  <input type = "text" name="search">
  <input type="submit" value="Search" class="btn">
  </form>
  <hr />
    <ul class="nav nav-tabs animated bounceInDown">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/Recipes">All Recipes</a></li>
      <li role="presentation"><a href="/Tags">All tags</a></li>
    </ul>
  </div>