<img src='~/img/Logo.png' alt="Recipe Box Logo" margin="0 auto" height="auto" width="50%" style="border: 5px double green">
  <br>
  <br>
  <div id="navBar">
  <form action="/search" method="get">
  <br>
  <p>Search by tag </p>
  <input type = "text" name="search">
  <input type="submit" value="Search" class="btn">
  </form>

    <ul class="nav nav-tabs animated bounceInDown">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/recipe">All Recipes</a></li>
      <li role="presentation"><a href="/tag">All tags</a></li>
    </ul>
  </div>