@{
  Layout = "_Layout";
}
  <h2>Welcome to Recipe Box!</h2>
  <p>This is a site where you can add, edit and organize your favorite recipes</p>
  <br>
  <p>Let's get sarted by creating an account</p>
  <p>Click @Html.ActionLink("here", "Index", "Account") to begin.</p>