@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag
<hr />
<h3>Add a new Tag</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Create tag" class="btn"/>
}