@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model List<RecipeBox.Models.Tag>;

<h2>Tags</h2>

<ul>
  @foreach(Tag tag in Model)
  {
    <p>@Html.ActionLink($"{tag.Name}", "Details", new { id = tag.TagId })</p>
  }
</ul>

@if (@Model.Count == 0)
{
  <h3>No tags have been added yet!</h3>
} 
<br>
<p>@Html.ActionLink("Add new Tag", "Create")</p>