@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model List<RecipeBox.Models.Tag>;
<hr />
<h2>Current List of Tags</h2>
<hr />

@foreach(Tag tag in Model)
{
  <p>@Html.ActionLink($"{tag.Name}", "Details", new { id = tag.TagId })</p>
}


@if (@Model.Count == 0)
{
  <h3>No tags have been added yet!</h3>
} 
<br>
<form action="/Tags/Create" method="get">
  <input type="submit" value="Add new Tag" class="btn">
</form>
